<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pascalCase applicationPath}}</title>
    <link rel="manifest" href="assets/manifest.json">
</head>
<body>
<div id="react-root"></div>
</body>
</html>