import {shallow} from "enzyme";
import * as React from "react";
import {{pascalCase applicationPath}}, {routes} from "./{{pascalCase applicationPath}}";

describe("<{{pascalCase applicationPath}}/>", () => {
  test("default", () => {
    const wrapper = shallow(<{{pascalCase applicationPath}} />);
    expect(wrapper).toMatchInlineSnapshot(`
<Provider
        store={
        Object {
"dispatch": [Function],
"getState": [Function],
"replaceReducer": [Function],
"runSaga": [Function],
"subscribe": [Function],
Symbol(observable): [Function],
}
}
>
<BrowserRouter>
    <Switch>
        <DynamicRoute
                loadAsyncModuleFn={[Function]}
                path="/**"
        />
    </Switch>
</BrowserRouter>
</Provider>
`);
  });

  test("routes", () => {
    expect(routes.samplePage()).toMatchSnapshot();
  });
});
