import * as React from "react";
import {BrowserRouter as Router, Switch} from "react-router-dom";
import {Provider} from "react-redux";
import DynamicRoute from "../modules/shared/components/Router";
import store from "../common/store/store";

// @ts-ignore
const lazy = React.lazy;

export const routes = {
  samplePage: () =>
    // @ts-ignore
    lazy(() =>
      import(/* webpackChunkName: "SamplePage" */ "./shared/components/ReplaceMeComponent"),
    ),
};

class {{pascalCase applicationPath}} extends React.PureComponent {
  public render() {
    return (
    <Provider store={store}>
          <Router>
            <Switch>
              <DynamicRoute path="/**" loadAsyncModuleFn={routes.samplePage} />
            </Switch>
          </Router>
    </Provider>
    );
  }
}

export default {{pascalCase applicationPath}};
