import "@babel/polyfill";
import * as React from "react";
import * as ReactDOM from "react-dom";
import {{pascalCase applicationPath}} from "./modules/{{pascalCase applicationPath}}";
// @ts-ignore
import registerServiceWorker from "./registerServiceWorker";

if (process.env.NODE_ENV === "production") {
  registerServiceWorker();
}

export interface Props {
  targetElementId: string;
}

const initialProps: Props = {
  targetElementId: "react-root",
};

export const render = (props: Props = initialProps) => {
  return ReactDOM.render(
    <{{pascalCase applicationPath}} {...props} />,
    document.getElementById(props.targetElementId),
  );
};

render(initialProps);

if (process.env.NODE_ENV === "development" && module.hot) {
  module.hot.accept(() => render(initialProps));
}
