{
  "name": "{{dashCase webPath}}",
  "version": "1.0.0",
  "engines": {
    "node": ">=8.10",
    "npm": ">=5.5",
    "yarn": ">=1.5"
  },
  "description": "SPA frontend",
  "main": "index.js",
  "repository": {
    "type": "git",
    "url": "git+https://bitbucket.org/norbertdurcansk/sb-spa.git"
  },
  "keywords": [
    "react",
    "spa",
    "spring-boot",
    "graphql"
  ],
  "author": "Norbert Durcansky",
  "license": "MIT",
  "homepage": "https://bitbucket.org/norbertdurcansk/sb-spa#readme",
  "scripts": {
    "test": "jest",
    "test:changed": "yarn test --onlyChanged --passWithNoTests --silent",
    "test:watch": "yarn test --watch",
    "test:update": "yarn test --u",
    "test:coverage": "yarn test --coverage --verbose --silent",
    "build": "cross-env NODE_ENV=production webpack --mode=production",
    "build:dev": "cross-env NODE_ENV=development webpack --mode=development ",
    "start:dev": "yarn build:dev && cross-env NODE_ENV=development webpack-dev-server --mode=development",
    "start": "yarn run build && yarn run serve -s -l 3000 build/prod/"
  },
  "husky": {
    "hooks": {
      "pre-commit": "lint-staged",
      "pre-push": "yarn test:coverage"
    }
  },
  "lint-staged": {
    "src/*.{ts,tsx,js}": [
      "prettier --write",
      "tslint --fix --project ./tsconfig.json",
      "git add"
    ]
  },
  "dependencies": {
    "@babel/polyfill": "^7.0.0",
    "dotenv": "^6.0.0",
    "react": "^16.8.0",
    "react-redux": "^6.0.0",
    "react-dom": "^16.6.0",
    "react-router-dom": "^4.3.1",
    "redux-saga": "^1.0.1",
    "redux-saga-watch-actions": "^0.2.0"
  },
  "devDependencies": {
    "@babel/cli": "7.0.0",
    "@babel/core": "7.0.0",
    "@babel/plugin-proposal-class-properties": "7.0.0",
    "@babel/plugin-proposal-numeric-separator": "7.0.0",
    "@babel/plugin-proposal-optional-chaining": "7.0.0",
    "@babel/plugin-proposal-pipeline-operator": "7.0.0",
    "@babel/plugin-syntax-dynamic-import": "7.0.0",
    "@babel/plugin-transform-runtime": "7.0.0",
    "@babel/preset-env": "7.0.0",
    "@babel/preset-react": "7.0.0",
    "@babel/preset-typescript": "7.0.0",
    "@types/dotenv": "4.0.3",
    "@types/enzyme": "3.1.15",
    "@types/enzyme-adapter-react-16": "1.0.3",
    "@types/jest": "23.3.9",
    "@types/react": "16.4.18",
    "@types/react-dom": "16.0.9",
    "@types/react-router-dom": "4.3.1",
    "@types/react-redux": "^7.0.1",
    "@types/react-test-renderer": "16.0.3",
    "@types/webpack-env": "1.13.6",
    "babel-core": "7.0.0-bridge.0",
    "babel-jest": "23.6.0",
    "babel-loader": "8.0.2",
    "clean-webpack-plugin": "0.1.19",
    "copy-webpack-plugin": "4.5.4",
    "core-js": "2.5.7",
    "cross-env": "5.2.0",
    "enzyme": "3.7.0",
    "enzyme-adapter-react-16": "1.7.0",
    "enzyme-to-json": "3.3.4",
    "es6-promise-promise": "1.0.0",
    "html-webpack-plugin": "3.2.0",
    "husky": "1.0.0-rc.14",
    "identity-obj-proxy": "3.0.0",
    "jest": "23.6.0",
    "lint-staged": "7.2.2",
    "path": "0.12.7",
    "postcss-import": "12.0.1",
    "postcss-loader": "3.0.0",
    "postcss-preset-env": "6.4.0",
    "prettier": "1.14.2",
    "serve": "10.1.1",
    "sw-precache-webpack-plugin": "0.11.5",
    "ts-jest": "23.10.5",
    "tslint": "5.11.0",
    "tslint-blueprint": "0.1.0",
    "tslint-clean-code": "0.2.7",
    "tslint-config-prettier": "1.15.0",
    "tslint-eslint-rules": "5.4.0",
    "tslint-plugin-prettier": "1.3.0",
    "tslint-react": "3.6.0",
    "tslint-sonarts": "1.8.0",
    "typescript": "3.0.3",
    "typings-for-css-modules-loader": "1.7.0",
    "webpack": "4.17.1",
    "webpack-blocks": "1.0.0",
    "webpack-bundle-analyzer": "3.0.3",
    "webpack-cli": "3.1.0",
    "webpack-dev-server": "3.1.7"
  }
}
