package {{dotCase packageName}}.resolver;

import com.coxautodev.graphql.tools.GraphQLResolver;
import {{dotCase packageName}}.dao.PostDao;
import {{dotCase packageName}}.model.Author;
import {{dotCase packageName}}.model.Post;

import java.util.List;

/**
 * Author resolver for additional requests.
 */
public class AuthorResolver implements GraphQLResolver<Author> {
    private PostDao postDao;

    public AuthorResolver(PostDao postDao) {
        this.postDao = postDao;
    }

    public List<Post> getPosts(Author author) {
        return postDao.getAuthorPosts(author.getId());
    }
}
