package {{dotCase packageName}}.resolver;

import com.coxautodev.graphql.tools.GraphQLResolver;
import {{dotCase packageName}}.dao.AuthorDao;
import {{dotCase packageName}}.model.Author;
import {{dotCase packageName}}.model.Post;

import java.util.Optional;

/**
 * Post resolver for additional requests.
 */

public class PostResolver implements GraphQLResolver<Post> {
    private AuthorDao authorDao;

    public PostResolver(AuthorDao authorDao) {
        this.authorDao = authorDao;
    }

    public Optional<Author> getAuthor(Post post) {
        return authorDao.getAuthor(post.getAuthorId());
    }
}
