{
  "short_name": "{{pascalCase applicationPath}}",
  "name": "{{pascalCase applicationPath}}",
  "start_url": "/",
  "display": "standalone",
  "scope": "/",
  "background_color": "white",
  "theme_color": "white"
}