buildscript {
    repositories {
        mavenCentral()
    }
    dependencies {
        classpath("org.springframework.boot:spring-boot-gradle-plugin:2.0.5.RELEASE")
    }
}

apply plugin: 'java'
apply plugin: 'idea'
apply plugin: 'org.springframework.boot'
apply plugin: 'io.spring.dependency-management'
apply plugin: 'checkstyle'
apply plugin: 'findbugs'

checkstyle {
    toolVersion '7.8.1'
    configFile file("config/checkstyle/checkstyle.xml")
}
checkstyleMain {
    source ='src/main/java'
}
checkstyleTest {
    source ='src/test/java'
}

findbugs {
    ignoreFailures = true
    toolVersion = "3.0.1"
    sourceSets=[sourceSets.main]
    excludeFilter = file("config/findbugs/excludeFilter.xml")
    reportsDir = file("$project.buildDir/reports/findbugs")
    effort = "max"
}
tasks.withType(FindBugs) {
    reports {
        xml.enabled false
        html.enabled true
    }
}

bootJar {
    baseName = 'sbspa'
    version = '1.0.0'
}

repositories {
    mavenCentral()
}

sourceCompatibility = 1.8
targetCompatibility = 1.8

dependencies {
    //Spring boot
    compile("org.springframework.boot:spring-boot-starter-web")
    compile("org.springframework.boot:spring-boot-starter-actuator")
    //Tests
    testCompile("junit:junit")
    testCompile("org.springframework.boot:spring-boot-starter-test")
    {{#if hasGraphQl}}
    //GraphQl
    compile("com.graphql-java:graphql-spring-boot-starter:5.0.1")
    compile("com.graphql-java:graphql-java-tools:5.2.0")
    compile("com.graphql-java:graphiql-spring-boot-starter:3.6.0")
    {{/if}}
}

task wrapper(type: Wrapper) {
    gradleVersion = '4.6'
}

task runApi()
task runWeb()
runApi.dependsOn bootRun
